.stil {
    width: 300px;
    align-items: center;
    border: 1px, solid, black;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.slika {
    width: 155px;
    border: 0.5px, solid, black;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

h1 {
    font-size: 25px;
    color: blue;
    text-decoration: underline;
}

.linija {
    width: 100%;
    border: none;
    background-color: gray;
    height: 1px;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}